{
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "trailingComma": "all",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
